<?xml version="1.0" encoding="UTF-8"?>
 <widget xmlns="http://www.w3.org/ns/widgets"
         xmlns:tizen="http://tizen.org/ns/widgets"
         id="http://sergioneto/homemediaclient"
         version="1.0.0">

 <tizen:application id="DivinoApp1.Divino" package="DivinoApp1" required_version="3.0.0"/>

   <content src="index.html"/>
   <icon src="icon.png"/>
   <name>HomeMedia</name>
   <description>Home Media Server Client</description>

   <!-- Network access to the local API -->
   <access origin="*" subdomains="true"/>

   <!-- Required privileges -->
   <tizen:privilege name="http://tizen.org/privilege/internet"/>

   <!-- Allow remote debugging, context menu for DevTools -->
   <tizen:setting screen-orientation="landscape"
                  context-menu="enable"
                  background-support="disable"
                  encryption="disable"
                  install-location="auto"
                  hwkey-event="enable"/>
 </widget>